@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

.animate-bounce {
  animation: bounce 3s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.animate-rotate {
  animation: rotate 3s infinite;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-explode {
  animation: explode 1s infinite;
}
.animate-explode-once {
  animation: explode 1s ease-out;
}
